<h3>Test Demo</h3>
<p>Example explanation</p>
<ul>
    <li>you can drag any data from drag section block.</li>
    <li>You can drop only sheet data into sheet block.</li>
    <li>You can't not drop column data(col-1,col-2...) into sheet data.</li>
    <li>In last block you can drop any data.</li>
</ul>
<hr>

<div class="row">
    <div class="col-sm-3">
        <div class="card card-outline-success mb-3">
            <div class="card-header card-inverse card-success">
                Draggable Items
                </div>
            <div class="card-block scroll-list">
                <div class="list-group">
                    <li class="list-group-item list-group-item-action list-group-item-success" [draggable] *ngFor="let item of appData"
                        [dragClass]="'active'" [dragTransitClass]="'active'" [dragData]="item" [dragScope]="item.type" [dragEnabled]="dragEnabled">
                        {{item.name}}
                    </li>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card card-outline-primary mb-3" droppable [dragOverClass]="'drag-target-border-green'" [dropScope]="'sheet'"
            [dragHintClass]="'drag-hint'" (onDrop)="onSheetDrop($event)">
            <div class="card-header card-inverse card-primary">Drop sheet Data here</div>
            <div class="card-block scroll-list">
                <li *ngFor="let item of droppedSheetdata" class="list-group-item">{{item.name}}</li>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card card-outline-primary mb-3" droppable [dragOverClass]="'drag-target-border'" [dropScope]="['sheet', 'column']"
            [dragHintClass]="'drag-hint'" (onDrop)="onDrop($event)">
            <div class="card-header card-inverse card-primary">Drop Anything here</div>
            <div class="card-block scroll-list">
                <li *ngFor="let item of droppedItems" class="list-group-item">{{item.name}}</li>
            </div>
        </div>
    </div>

</div>

